{% extends "views/base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/main.css?v=16">
{% endblock %}
{% block content %}

<div class="container" id="map-canvas"></div>

{% endblock %}

{% block endscripts %}

<script src="/js/main.js?v=22"></script>
<script>
	var requestUrl = "/getFrame/locationofsubscribers";
	google.maps.event.addDomListener(window, 'load', initialize);
	$("#toggleautostep").css('display', 'inline-block');
	$("#stephourbutton").css('display', 'inline-block');
	$("#hourbox").css('display', 'inline-block');
</script>

{% endblock %}
