html, body, #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#hourbox {
    position: absolute;
    bottom: 100px;
    background-color: #3276b1;
    padding:10px;
    color:#ffffff;
    left: 10px;
    z-index: 5;
    font-size:40px;
}

#stephourbutton {
    position:absolute;
    background-color: #3276b1;
    padding:10px;
    z-index: 5;
    left: 10px;
    font-size:18px;
    bottom: 50px;
}

#requesttimer {
    position:absolute;
    background-color: #3276b1;
    padding:10px;
    z-index: 5;
    color:#ffffff;
    left: 10px;
    font-size:18px;
    bottom: 1px;
}

#bytesprocessed {
    position:absolute;
    background-color: #3276b1;
    padding:10px;
    z-index: 5;
    color:#ffffff;
    left: 120px;
    font-size:18px;
    bottom: 1px;
}
