html,body{
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #000000;
  color: white;
}
#tabs{
  width: 50%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
#map-canvas{
  height:100%;
  width:100%;
}


paper-tab::shadow #ink {
  color: #ff4081;
}
